.git
.github
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]

artifacts
raw
data
*.duckdb
*.duckdb.wal
*.parquet

dbt_neobank/target
dbt_neobank/dbt_packages
dbt_neobank/logs
notebooks/__marimo__

.env
.env.*
.vscode
.idea
Thumbs.db
.DS_Store
